button.btn {
  width: fit-content;
  min-width: 64px;
  height: 32px;

  background-color: #ffffff18;
  border: 2px solid #ffffff18;
  color: #ccc;

  border-radius: 4px;
  font-size: 14px;

  cursor: pointer;

  &.positive {
    background-color: #125488;
    border: 2px solid #176bae;
    color: #f2eee8;

    &:hover {
      background-color: #226498;
      border: 2px solid #277bbe;
    }
  }

  &:hover {
    background-color: #ffffff28;
    border: 2px solid #ffffff28;
  }
}