// Profile Picture
.profile-picture {
  width: 34px;
  height: 34px;

  position: relative;

  background-color: var(--bg);
  background-size: contain;
  border-radius: 8px;

  user-select: none;
  -webkit-user-select: none;

  // Picture Translucent Outline
  &::after {
    content: "";

    width: 30px;
    height: 30px;

    position: absolute;
    top: 0;
    left: 0;

    border: 2px solid #ffffff20;
    border-radius: 8px;
  }

  // Large Size
  &.lg {
    width: 64px;
    height: 64px;

    &::after {
      width: 56px;
      height: 56px;

      border: 4px solid #ffffff20;
      border-radius: 8px;
    }
  }
}