
@font-face {
  font-family: Inter;
  font-weight: bolder;
  src: url(../assets/fonts/Inter-Black.ttf);
}

@font-face {
  font-family: Inter;
  font-weight: bold;
  src: url(../assets/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter;
  font-weight: normal;
  src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Amulya;
  src: url(../assets/fonts/Amulya-Variable.ttf);
}