@import './img.scss';

.icon-button {
  width: 32px;
  height: 26px;

  margin-right: 8px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: #999999;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    background-color: transparent !important;
    color: #4c4c4c !important;
    cursor: default;
  }

  &:hover {
    background-color: #ffffff14;
    color: #cccccc;
  }
}

.block {
  width: 24px;
  height: 24px;

  margin-right: 11px;
  margin-top: 3px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
}

h1,
h2,
h3,
.text-header {
  color: #eee;
}

p,
.text-normal {
  color: #aaa;
}

.text-small {
  color: #666;
}

.float-right {
  margin-left: auto;
}