.inputbox {
  position: absolute;

  width: calc(100% - 56px);
  min-height: 22px; 

  bottom: 12px;

  margin-top: 8px;
  //padding: 8px 12px 8px 12px;
  box-shadow: 0 1px 2px 0 #00000055;

  background-color: #383838;
  border: 2px solid #ffffff11;
  border-radius: 8px;

  user-select: none;
  -webkit-user-select: none;
  cursor: text;

  white-space: pre-wrap !important;
  color: #ddd;

  // Prose Mirror Rich Text Editor
  .ProseMirror {
    outline: none !important;
  }
}