input-box {
  position: relative;
  
  textarea, .mirage {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0 !important;
    padding: inherit !important;

    border: 0;
    width: 100%;
    height: 100%;

    font-size: inherit !important;
    font-family: inherit !important;
    line-height: inherit !important;
    tab-size: inherit !important;

    overflow: auto !important;
    overflow-x: hidden !important;

    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
  }

  textarea {
    z-index: 2;

    background-color: transparent;
    color: transparent;
    caret-color: inherit !important;

    resize: none;
    outline: none !important;
  }

  .mirage {
    color: inherit;
  }
}