.inputbox {
  position: absolute;

  width: calc(100% - 56px);
  min-height: 22px; 

  bottom: 12px;

  margin-top: 8px;
  padding: 8px 12px 8px 12px;
  box-shadow: 0 1px 2px 0 #00000055;

  background-color: #37383a;
  border: 2px solid #ffffff11;
  outline: none;
  border-radius: 8px;

  user-select: none;
  -webkit-user-select: none;
  cursor: text;

  white-space: pre-wrap !important;
  color: #ddd;

  .text-line {
    width: 100%;
    min-height: 22px;

    font-size: 16px;
    word-break: break-word;
    white-space: break-spaces;
    line-height: 22px;

    span.text {
      color: #ddd;

      span.bold {
        font-weight: bold;
      }

      span.italic {
        font-style: italic;
      }
    }
  }
}