@font-face {
    font-family: 'Rubik';
    src: url(/assets/Rubik.ttf);
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --font-sans: 
        'Rubik', 
        ui-sans-serif, 
        system-ui, 
        -apple-system, 
        BlinkMacSystemFont, 
        Segoe UI, 
        Roboto, 
        Noto Sans, 
        Ubuntu, 
        Cantarell, 
        Helvetica Neue, 
        Arial, 
        sans-serif, 
        Apple Color Emoji, 
        Segoe UI Emoji, 
        Segoe UI Symbol, 
        Noto Color Emoji;
    
    --font-mono:
        JetBrains Mono, 
        ui-monospace, 
        SFMono-Regular, 
        Menlo, 
        Monaco, 
        Consolas, 
        Liberation Mono, 
        Courier New, 
        monospace;
}
