/* @font-face {
    font-family: 'Rubik';
    src: url(/assets/Rubik.ttf);
    font-weight: 100 900;
    font-style: normal;
} */

@font-face {
    font-family: 'Rubik';
    src: url(/assets/fonts/rubik/Rubik-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(/assets/fonts/rubik/Rubik-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(/assets/fonts/rubik/Rubik-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(/assets/fonts/rubik/Rubik-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(/assets/fonts/rubik/Rubik-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(/assets/fonts/rubik/Rubik-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

:root {
    --font-sans: 
        'Rubik', 
        ui-sans-serif, 
        system-ui, 
        -apple-system, 
        BlinkMacSystemFont, 
        Segoe UI, 
        Roboto, 
        Noto Sans, 
        Ubuntu, 
        Cantarell, 
        Helvetica Neue, 
        Arial, 
        sans-serif, 
        Apple Color Emoji, 
        Segoe UI Emoji, 
        Segoe UI Symbol, 
        Noto Color Emoji;
    
    --font-mono:
        JetBrains Mono, 
        ui-monospace, 
        SFMono-Regular, 
        Menlo, 
        Monaco, 
        Consolas, 
        Liberation Mono, 
        Courier New, 
        monospace;
}
