@import './css/vars.css';
@import './css/fonts.css';

@import './css/btn.css';

html, body {
    width: 100vw;
    height: 100vh;

    background-color: var(--bg-200);
    color: #ddd;

    padding: 0;
    margin: 0;

    font-family: var(--font-sans);
}

#root {
    width: 100%;
    height: 100%;

    overflow: hidden;
    
    display: flex;
    flex-direction: column;
}

main.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.page {
    flex-grow: 1;
}

/* TODO: remove this / move this */
p.placeholder {
    font-family: var(--font-sans) !important;
    font-size: 1rem;
}

input[type="text"] {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 1rem;

    background-color: var(--bg-400);
    color: #ddd;

    border-radius: 6px;
    padding: 6px 10px;
    min-height: 26px;

    outline: none;
    border: none;
}

input[type="text"]::placeholder {
    color: #888;
    opacity: 1;
    user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #ddd;
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-400) inset;
    transition: background-color 5000s ease-in-out 0s;
}
